<!DOCTYPE html>
<html lang="en" ng-app="ngTasker">
<head>
	<meta charset="UTF-8">
	<title>Angular Crud</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	
	<!-- custom css -->
	<link rel="stylesheet" href="assets/css/style.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="assets/js/ngTask.js"></script>
	
</head>
<body ng-controller="TaskController">
	<!-- navigation -->
	<nav class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Brand</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav><!-- /navigation ends -->

	<!-- main content -->
	<div class="container-fluid"><div class="row">
		<div class="col-lg-12 jumbotron">
			<h2 class="text-primary"><i class="glyphicon glyphicon-list-alt"></i> Add Your Tasks</h2>
			
			<!-- list -->
			<div class="row">
				<div class="col-lg-6 -col-lg-offset-3 bg-dark smooth">
					<br>
					<!-- progress bar -->
					<div class="progress">
					  <div class="progress-bar progress-bar-primary" style="width: {{progress}}%"></div>
					</div>
					<div class="progress-status">
						<h2 class="text-center">{{progress}} % Done</h2>
					</div><!-- /progress bar -->

					<!-- list of tasks -->
					<ul class="list-group">
						<li class="list-group-item lead" ng-class="{'text-success' : task.done}" ng-repeat="task in tasks">
							<i class="glyphicon glyphicon-asterisk"></i>
							<i class="glyphicon pointer" ng-class="{ 'glyphicon-check' : task.done , 'glyphicon-unchecked' : task.done == false, 'hidden' : task.edit}" ng-click="doTask($index)"></i>

							<span ng-class="{s : task.done, 'hidden' : task.edit}">{{'&nbsp;&nbsp;'+task.description}}</span>
					    	<div class="row" ng-class="{'hidden' : task.edit == false}"><div class="col-lg-12">
									
					    		<input type="text" class="form-control text-center"  ng-model="task.description" placeholder="Enter a new task">
					    		<br>
					    	</div></div>

							<input type="checkbox" class="hidden" ng-model="task.done">
							
							<i class="glyphicon glyphicon-trash pull-right pointer" ng-class="{'text-danger' : task.done}" ng-click="deleteTask($index)" ng-click="doTask($index)"></i>
							<i class="glyphicon glyphicon-asterisk pull-right"></i>
							<i class="glyphicon pull-right pointer" ng-class="{'glyphicon-floppy-disk' : task.edit ,'glyphicon-edit' : task.edit == false}" ng-click="toggleEdit($index)"></i>
							
						</li>
					</ul><!-- /list of tasks -->

					<!-- inputs -->
					<div class="form-group">
					  <label class="control-label">Actions</label>
					  <div class="input-group">
					    <span class="input-group-addon">Task Name</span>
					    <input type="text" class="form-control text-center" ng-model="newTask" placeholder="Enter a new task">
					    <span class="input-group-btn">
					      <button class="btn btn-default" ng-click="addTask()" type="button">Add</button>
					    </span>
					  </div>
					</div><!-- /inputs -->
				</div>
			</div> <!-- /list -->
		</div>
	</div></div><!-- /main content -->

</body>
</html>